In [10]:
import numpy as np
import matplotlib.pyplot as plt
from Kmeans_Clustering_on_TITANIC_dataset import *

from matplotlib import style
style.use("fivethirtyeight")

In [11]:
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,1,29.0000,0,0,761,211.3375,153,2,2,115
1,1,1,0,0.9167,1,2,544,151.5500,120,2,17,124
2,1,0,1,2.0000,1,2,544,151.5500,120,2,0,124
3,1,0,0,30.0000,1,2,544,151.5500,120,2,0,124
4,1,0,1,25.0000,1,2,544,151.5500,120,2,0,124

In [13]:
columns = df.columns
print(columns)

Index(['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'boat', 'home.dest'],
      dtype='object')

In [29]:
a,b = X.shape
b

11

In [44]:
new_array_survived = list()
new_array_dead = list()
for i in range(len(df)):
    for j in range(b):
        if df['survived'][i] == 1:
            new_array_survived.append(X[i][j])
        else:
            new_array_dead.append(X[i][j])

In [49]:
group_survived= [a[x:x+11] for x in range(0, len(new_array_survived),11)]
group_survived

TypeError: 'int' object is not subscriptable

In [48]:
X[1][:]

array([-1.54609786, -0.74349692, -1.30576934,  0.48128777,  1.86652569,
        0.24817297,  2.28660634,  2.14002185, -0.20133657,  1.37540494,
        0.10546198])